{% extends 'index.html.twig' %}

{% block content %}
    <div class="row">

		<div class="offset-2 col-8 offset-2">
            <div class="text-center title-Header">Administration</div>
			<div class="form-group">
				
                <table class="table">

                    <tr class="profileHeaderTr">
                        <th>
                            <div class="col-12 text-center textSize textColor">Univers</div>
                        </th>
                    </tr>
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
					    <tr>
						    <td>
                                <div class="form-group row">
                                    {{ form_label(form.libelle, 'Libelle', {'label_attr': {'class': 'col-6 textSize textColor'}}) }}
                                    {{ form_widget(form.libelle, {'attr': {'class': 'form-control col-6'} }) }}
                                </div>
						    </td>
					    </tr>
			            <tr>
                            <td>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <input class="btn btn-primary" type="submit" value="Valider"/>
                                        <input type="button" class="btn btn-dark" value="Retour" onclick="window.location.href='{{path('admin_control_forum')}}'"/>
                                    </div>
                                </div>
                            </td>
			            </tr>
			        {{ form_end(form) }}

                </table>

            </div>

            {{ include('Templates/Error/flash.html.twig') }}
            {{ include('Templates/Error/error.html.twig') }}
            {{ include('Templates/Error/message.html.twig') }}

        </div>

    </div>

{% endblock %}
