{% extends 'index.html.twig' %}

{% block content %}

    <div id="app"> 

        <div class="offset-lg-1 col-lg-10 col-xs-12 col-sm-12">

            {% if section is defined and section is not null %}
                <div class="col-12 text-center title-Header">Section : {{section.libelle}}</div>
                <div class="col-12">
                    <label class="textColor textSize" for="filtre">Rechercher :</label> 
                    <input type="text" v-model="input" id="{{theme.id}},{{section.id}}"/>
                    <a href="#" v-on:click="handleSearch({{theme.id}},{{section.id}})"><i class="fas fa-search"></i></a>
                    <label class="textColor textSize" for="select">Filtre :</label>
                    <select name="select" class="textColor textSize">
                        <option>Commence par</option>
                        <option>Contient</option>
                    </select>
                </div>
            {% else %}
                <div class="col-12 text-center title-Header">Theme : {{theme.libelle}}</div>
                <div class="col-12">
                    <label class="textColor textSize" for="filtre">Rechercher :</label> 
                    <input type="text" v-model="input" id="{{theme.id}}"/>
                    <a href="#" v-on:click="handleSearch({{theme.id}})"><i class="fas fa-search searchIco"></i></a>
                    <label class="textColor textSize" for="select">Filtre :</label>
                    <select name="select" class="textColor textSize">
                        <option>Commence par</option>
                        <option>Contient</option>
                    </select>
                </div>
            {% endif %}

            <table class="table table-hover textSize" id="myDataTable" style="margin-top: 2%;">
                <thead>
                    <tr>
                        <th>Titre du sujet</th>
                        <th>Date de création</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sujet in sujets">                         
                        <td>
                            <a style="float: right; margin-right:5%;" href="#" v-on:click="redirectSubject([[sujet.id]])">
                                <i class="fas fa-eye"></i>
                            </a>
                            <span class="textColor">[[ sujet.libelle ]]</span>
                        </td>
                        <td>       
                            <span class="textColor" style="margin-right:5%; float: left;">[[ sujet.date | dateFR ]]</span> 

                            <a v-if="sujet.id_user === userID || userAuthorised === true" style="float: right" href="#" v-on:click="deleteSubject([[sujet.id]])">
                                <i class="fas fa-trash"></i>
                            </a>
                        
                            <a v-if="sujet.id_user === userID || userAuthorised === true" style="float: right; margin-right:5%;" href="#" v-on:click="editSubject([[sujet.id]])">
                                <i class="fas fa-edit"></i>
                            </a>

                            <span class="textColor" style="float: right; white-space: nowrap; margin-right:5%;">
                                <i v-if="sujet.nbPost > 0">[[sujet.nbPost]] réponses</i>
                                <i v-else>[[sujet.nbPost]] réponse</i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
                
        {% if section is defined and section is not null %}
            <button style="margin-top: 5%; margin-bottom: 2%;" type="button" class="offset-lg-1 btn btn-primary textSize" onclick="window.location.href='{{path('sujet_new_section',{'theme':theme.id, 'section':section.id})}}'">
                Nouveau
            </button>
        {% else %}
            <button style="margin-top: 5%; margin-bottom: 2%;" type="button" class="offset-lg-1 btn btn-primary textSize" onclick="window.location.href='{{path('sujet_new_theme',{'theme': theme.id})}}'">
                Nouveau
            </button>
        {% endif %}

        {{ include('Templates/Error/flash.html.twig') }}

    </div>
    
    <script>
        {{ include('Javascript/sujetJS.js') }}
    </script>
    

{% endblock %}

