{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="text-center col-12 title-Header">Liste des Univers</div>

		<div class="offset-3 col-6 offset-3 tableContent">

            <table class="table table-hover">
            
                {% if universList is defined and universList is not null %}
                    {% for univers in universList %}

                        <tr class="profileHeaderTr">
                            <th scope="row">
                                {{univers.libelle}}
                            </th>
                            <th class="offset-8 col-2">
                                <button style="float: right;" type="button" class="btn btn-dark" onclick="window.location.href='{{path('univers_edit', {'id':univers.id})}}'">
                                    Modifier
                                </button>
                            </th>
                            <th class="col-2">
                                <form action="{{path('univers_delete', {'id':univers.id})}}", method="POST">
                                    <input style="float: right;" type="submit" class="btn btn-danger" value="Supprimer"/>
                                </form>
                            </th>
                        </tr>
                        <tr style="background-color: rgba(70, 65, 65, 0.5);">
                            <th scope="row" style="font-size: 1em; ">Liste des thèmes</th>
                            <th></th>
                            <th style="margin-right: 5%; color: blue;">
                                <a style="float: right" href="{{path('theme_new', {'univers': univers.id})}}"><i class="fas fa-plus-circle"></i></a>
                            </th>
                        </tr>
                        {% if univers.themes is defined and univers.themes is not null %}
                            {% for theme in univers.themes %}
                                <tr style="background-color: rgba(70, 65, 65, 0.2); font-weight: bold;">
                                    <td scope="row">{{theme.libelle}}</td>
                                    <td></td>
                                    <td>
                                        <a style="float: right; margin-right:5%;" href="{{path('section_new', {'theme': theme.id})}}"><i class="fas fa-plus-circle"></i></a>
                                        <a style="float: right; margin-right:5%;" href="{{path('theme_delete', {'theme': theme.id})}}"><i class="far fa-trash-alt"></i></a>
                                        <a style="float: right; margin-right:5%;" href="{{path('theme_edit', {'theme': theme.id})}}"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>

                                {% if theme.subdivise == 1 %}
                                    {% for section in theme.sections %}
                                        <tr>
                                            <td scope="row">{{section.libelle}}</td>
                                            <td></td>
                                            <td>
                                                <a style="float: right; margin-right:5%;" href="{{path('section_delete', {'section': section.id})}}"><i class="far fa-trash-alt"></i></a>
                                                <a style="float: right; margin-right:5%;" href="{{path('section_edit', {'section': section.id})}}"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                {% endif %}
        
                <tr>
                    <td>
                        <button style="margin-top:5%;" type="button" class="btn btn-primary" onclick="window.location.href='{{path('univers_new')}}'">
                            Nouveau
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
					
            </table>

        </div>

        {{ include('Templates/Error/error.html.twig') }}
        {{ include('Templates/Error/message.html.twig') }}
        {{ include('Templates/Error/flash.html.twig') }}

    </div>

{% endblock %}
