{% extends 'index.html.twig' %}

{% block content %}
        
        <div class="row">
            <div id="NepTuNe"></div>
            <div class="offset-2 col-8 text-center title-Header">Accueil</div>
            <table class="col-12 text-center">
                <tr>
                    <td>
                        <div class="textColor textSize">
                            <p><b>Derniers sujets ajoutés :</b></p>
                            <ul>
                                {% for subject in subjectsLast %}
                                    <br>
                                        <li>
                                            <p><b>Intitulé :</b> {{subject.libelle}} <br></p>
                                            <p><b>Par : {{subject.user.username}}</b> <br></p>
                                            <p><b>Le :</b> <i>{{subject.date|date("d/m/Y")}}</i> <br></p>
                                            <p>Voir le sujet <a href="{{path('post_view', {'sujet': subject.id})}}"><i class="fas fa-eye"></i></a></p>
                                        </li>
                                    <br>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="textColor textSize">
                            <p><b>Sujets les plus commentés :</b></p>
                            <ul>
                                {% for subject in subjectsView %}
                                    <br>
                                        <li>
                                            <p><b>Intitulé :</b> {{subject.libelle}} <br></p>
                                            <p><b>Par : {{subject.username}}</b> <br></p>
                                            <p><b>Le :</b> <i>{{subject.date|date("d/m/Y")}}</i> <br></p>
                                            <p>Voir le sujet <a href="{{path('post_view', {'sujet': subject.id})}}"><i class="fas fa-eye"></i></a></p>
                                        </li>
                                    <br>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>    
            </table>

            {% if columnChartUniv is defined and columnChartUniv is not null
                or columnChartTheme is defined and columnChartTheme is not null
                or pieChartLike is defined and pieChartLike is not null %}

                <div class="offset-2 col-8 text-center title-Header">Mon activité</div>

            {% endif %}

            {% if columnChartUniv is defined and columnChartUniv is not null %}
                <div id="statsUnivers" class="col-12"></div>
            {% endif %}
            {% if columnChartTheme is defined and columnChartTheme is not null %}
                <div id="statsTheme" class="col-12"></div>
            {% endif %}
            {% if pieChartLike is defined and pieChartLike is not null %}
                <div id="statLike" class="col-12"></div>
            {% endif %}
            
        </div>

{% endblock %}
