{% extends 'index.html.twig' %}

{% block content %}
        
        <div class="row">

            <div id="NepTuNe"></div>
            <div class="offset-2 col-8 text-center title-Header">Accueil</div>

            <div class="col-12">
                <table class="table table-hover col-12 text-center" style="margin-top: 5%;">
                    <tr style="border-top-style: groove; border-top-width: 5px; border-top-color: rgb(1, 19, 29);">
                        <th class="textColor textSize" colspan="4">
                            Derniers sujets ajoutés :
                        </th>
                    </tr>
                    {% for subject in subjectsLast %}
                        <tr class="textColor textSize">
                            <td>
                                <p><b>Intitulé :</b> {{subject.libelle}} <br></p>
                            </td>
                            <td>
                                Par : {{subject.user.username}}
                            </td>
                            <td>
                                <b>Le :</b> <i>{{subject.date|date("d/m/Y")}}</i>
                            </td>
                            <td>
                                <p>Voir le sujet <a href="{{path('post_view', {'sujet': subject.id})}}"><i class="fas fa-eye"></i></a></p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                
                <table class="table table-hover col-12 text-center" style="margin-top: 10%; margin-bottom: 10%;">
                    <tr style="border-top-style: groove; border-top-width: 5px; border-top-color: rgb(1, 19, 29);">
                        <th class="textColor textSize" colspan="4">
                            Sujets les plus commentés :
                        </th>
                    </tr>
                    {% for subject in subjectsView %}
                        <tr class="textColor textSize">
                            <td>
                                <p><b>Intitulé :</b> {{subject.libelle}} <br></p>
                            </td>
                            <td>
                                Par : {{subject.username}}
                            </td>
                            <td>
                                <b>Le :</b> <i>{{subject.date|date("d/m/Y")}}</i>
                            </td>
                            <td>
                                <p>Voir le sujet <a href="{{path('post_view', {'sujet': subject.id})}}"><i class="fas fa-eye"></i></a></p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {% if columnChartUniv is defined and columnChartUniv is not null
                or columnChartTheme is defined and columnChartTheme is not null
                or pieChartLike is defined and pieChartLike is not null %}

                <div class="offset-2 col-8 text-center title-Header">Mon activité</div>

            {% endif %}

            {% if columnChartUniv is defined and columnChartUniv is not null %}
                <div id="statsUnivers" class="col-12"></div>
            {% endif %}
            {% if columnChartTheme is defined and columnChartTheme is not null %}
                <div id="statsTheme" class="col-12"></div>
            {% endif %}
            {% if pieChartLike is defined and pieChartLike is not null %}
                <div id="statLike" class="col-12"></div>
            {% endif %}
            
        </div>

{% endblock %}
