{% extends 'index.html.twig' %}

{% block content %}
     
    <div class="col-12" id="app"> 
    
        <span name="sujet" id="{{sujet.id}}" style="display: none"></span> 
        <div class="offset-2 col-8 title-Header text-center">{{sujet.libelle}}</div>

        <div style="margin-top: 5%;">
      
            <div v-for="obj in comments" class="col-12 offset-lg-1 col-lg-10" style="margin-bottom: 2%;">
                
                <div class="userPostUsername textSize col-12">
                    <span>[[obj.comment.username]]</span>
                    <span v-if="obj.comment.id_user === userID || userAuthorised === true">
                        <a style="float: right; margin-right:5%;" v-on:click="editComment([[obj.comment.id_user]]+'_'+[[obj.comment.id]])"><i class="fas fa-edit imgCursor"></i></a>
                        <a style="float: right; margin-right:2%;" v-on:click="deleteComment([[obj.comment.id]])"><i class="fas fa-trash imgCursor"></i></a>
                    </span>
                </div>

                <div class="userPostContainer textSize textColor col-12">
                    <span v-html="obj.comment.commentaire"></span>
                </div>
               
                <div class="userPostPictures row">
                    <div v-for="picture in obj.pictures" class="col-lg-4 col-12">
                        <img class="col-lg-10 imgPost col-10 " v-bind:src="'/jimmy/FORUM/web/upload/images/'+[[picture.pictureName]]+'_'+[[picture.id]]+[[picture.pictureExtension]]" v-bind:alt="[[picture.pictureName]]+[[picture.pictureExtension]]"></img>
                        <i v-if="obj.comment.id_user === userID || userAuthorised === true" class="fas fa-trash imgCursor col-lg-1 col-2 " v-on:click="removePicture([[picture.id]])"></i>
                    </div>
                </div>
                
                <div class="userPostDate textColor col-12">
                    Posté le : [[obj.comment.date | dateFR]]
                </div>

                <div style="display: none" v-bind:id="[[obj.comment.id_user]]+'_'+[[obj.comment.id]]">
                    <div v-html="obj.comment.commentaire" class="textEditor"></div>
                    <a type="submit" style="margin-right:5%;" v-on:click="postComment([[obj.comment.id_user]]+'_'+[[obj.comment.id]])"><i class="fas fa-share-square imgCursor"></i></a>
                    <div class="textColor">Ajouter une image<i style="margin-left: 2%;" name="addPictureButtonEdit" class="fas fa-plus-circle imgCursor iButton" onclick="addPicture('Edit')"></i></div>
                </div>

                <div class="col-12">
                    <a><i class="fas fa-thumbs-up imgCursor iLike" v-on:click="like([[obj.comment.id]], 1)"></i></a>
                    <a><i class="fas fa-thumbs-down imgCursor iDisLike" v-on:click="like([[obj.comment.id]], 2)"></i></a>
                </div>
                <div class="col-12">
                    <div class="iLikeCount">[[obj.comment.nbLike]]</div>
                    <div class="iDisLikeCount">[[obj.comment.nbDisLike]]</div>
                </div>

            </div>

        </div>

        <div class="col-12">            
            <span v-for="page in pages">
                <a v-bind:id="'Selector_'+[[page]]" class="nbPagination" href="#" v-on:click="viewComment([[page]])">[[page]]</a>
            </span>
        </div>

        <div class="col-12 ql-divSeparator textColor text-center">
            Nouveau commentaire
        </div>

        <div class="ql-divContainer">
            <div id="editor_new"></div>
        </div>

        <div class="col-12">
            <div class="col-12 textColor" style="margin-bottom: 5%;" id="newPost">
                Ajouter une image <i name="addPictureButtonNew" class="fas fa-plus-circle imgCursor iButton" onclick="addPicture('New')"></i>
            </div>
            
            <button class="btn btn-primary textSize" type="button" v-on:click="postComment()">
                Valider
            </button>

            {% if sujet.section is defined and sujet.section is not null %}
                <button class="btn btn-secondary textSize" type="button" onclick="window.location.href='{{path('sujet_list_theme', {'theme': sujet.theme.id, 'section': sujet.section.id})}}'">
                    Retour
                </button>
            {% else %}
                <button class="btn btn-secondary textSize" type="button" onclick="window.location.href='{{path('sujet_list_theme', {'theme': sujet.theme.id})}}'">
                    Retour
                </button>
            {% endif %}
        </div>
            
    </div>
    
<script>
        {{ include("Javascript/postJS.js") }}
</script>
    
    

{% endblock %}

